$yellow: #fad400;
$pomelo: #fe7867;

$hover-color: #ffffff;

$color-hero: #ffffff;
$color-menu: #ffffff;
$color-title: #23303e;
$color-text: #5a636c;
$color-testimonials-position: #a7abae;
$color-testimonials-title: #a7abae;

$color-photography: #19536b;
$color-design: #25564b;

$color-footer: #25564b;
$bg-footer: #458c7e;

$font-text: 'Barlow', sans-serif; 
$font-title: 'Fraunces', serif; ;



:root
{
  --color-section: #fad400;
}
.--pomelo
{
  --color-section: #fe7867;
}
.--yellow
{
  --color-section: #fad400;
}