%button
{
  display: block;
  width: max-content;
  border-radius: 39px;
  text-decoration: none;
  font-family: $font-title;
}

.button
{
  &--contact
  {
    @extend %button;
    height: 58px;
    padding: 20px;
    background-color: $yellow;
    color: $color-title;
    line-height: 18px;
  }
  &--learn
  {
    @extend %button;
    color: $color-title;
    text-transform: uppercase;

    &:hover
    {
      text-decoration: 4px underline var(--color-section);
    }
  }
}