.footer
{
  background-color: $bg-footer;
  padding: 30px 0;
  font-size: 25px;
  &__icons
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 25px;
    .social__icon
    {
      color: $color-footer;
      transition: color .2s ease-in;
    }
    .social__icon:hover
    {
      color: $hover-color;
    }
  }
  &__logo
  {
    display: block;
    margin-right: auto;
    margin-left: auto;
    path
    {
      fill: $color-footer;
    }
  }
}

.f-menu
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px 0;
  &__item
  {
    color: $color-footer;
    text-decoration: none;
    transition: color .2s ease-in;
  }
  &__item:hover
  {
    color: $hover-color;
  }
}


.attribution
{
  .paragraph
  {
    padding: 0 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $color-footer;
    .link
    {
      color: $color-menu;
      text-decoration: none;
      &:hover
      {
        text-decoration: underline;
      }
    }
  }
}