*
{
  box-sizing: border-box;
}
body
{
  font-size: 18px;
  font-family: $font-text;
  overflow-x: hidden;
}
h1
{
  margin: 0;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.uppercase
{
  text-transform: uppercase;
}